<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<%= render 'layouts/stylesheets'%>
		<link href='http://fonts.googleapis.com/css?family=Lato|Ubuntu' rel='stylesheet' type='text/css'>
	</head>
	<body>
		
			<%= render 'layouts/header'%>
			<div class="container container-fluid">
				<% flash.each do |key, value| %>
					<div class="alert alert-success <%= key %>">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<%= value %>
					</div>
				<% end %>
				<%= yield %>
			</div>
				<%= render 'layouts/footer'%>
			
			<%= debug(params) if Rails.env.development? %>
			<!-- Placed at the end of the document so the pages load faster -->
			<%= javascript_include_tag 'jquery-1.7.2.min' %>
			<%= javascript_include_tag 'bootstrap.min' %>
	</body>
</html>